//Colors
$darkMagenta: hsl(300, 43%, 22%);
$oftPink: hsl(333, 80%, 67%);
$darkGrayish: hsl(303, 10%, 53%);
$lightGrayish: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

//Font Sizes
$baseFont: 15px;
$largeFont: 48px;

//Borders
$border: 0.5rem;

//media queries

